@import 'reset';
@import 'variables';
@import 'fonts';

body {
  background-color: white;
  color: $black;
  font-family: $font;
  padding: 0 25px;
  max-width: $maxWidth;
  margin: 0 auto;
}

nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  section#links {
    display: flex;
    gap: 50px;
  }
}

main {
  section#presentation {
    display: flex;
    height: 720px;
    align-items: center;
    justify-content: space-between;

    div#text {
      gap: 48px;
      width: 460px;
      display: flex;
      margin-left: 75px;
      flex-direction: column;
    }

    div#image {
      margin-right: 75px;
      width: 486px;
    }
  }

  section#logos {
    display: flex;
    height: 180px;
    align-items: center;
    justify-content: space-between;
    margin: 0 75px
  }

  section#skills {
    display: flex;
    max-width: 1080px;
    height: 600px;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
    margin: 0 auto;

    .card {
      display: flex;
      width: 250px;
      align-items: center;
      flex-direction: column;
      gap: 63px;

      img {
        width: 125px;
      }

      #text {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  section#gallery {
    display: flex;
    height: 1100px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 60px;

    section#cards {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 45px;
      justify-content: center;
    }

    .card {
      img {
        width: 330px;
        height: 330px;
        margin-bottom: 25px;
        object-fit: cover;
      }

      p#subtitle {
        margin-bottom: 10px;
      }
    }
  }

  section#clients {
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 55px;

    section#cards {
      display: flex;
      gap: 45px;

      div.card {
        width: 270px;
        display: flex;
        flex-direction: column;
        background-color: $grey;
        padding: 25px 30px;
        gap: 130px;

        section#person {
          display: flex;
          gap: 20px;

          img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
          }

          div#rating {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 125px;
            gap: 10px;

            div#stars {
              display: flex;
              gap: 7.5px;

              img {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
    }
  }
}

footer {
  height: 720px;
  display: flex;
  justify-content: space-between;

  section#description {
    width: 360px;
    margin-left: 75px;
  }

  form {
    width: 530px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-right: 75px;
    
    input {
      border: none;
      height: 70px;
      background-color: $grey;
      padding-left: 30px;

      font-size: 17px;
      font-weight: 400;
      line-height: 27px;
      
      &[type=submit] {
        padding: 0;
        background-color: $black;
        color: white;
        width: 235px;
      }
    }
    
    textarea {
      border: none;
      height: 215px;
      padding: 30px 0 0 30px;
      background-color: $grey;
      resize: none;

      font-family: $font;
      font-size: 17px;
      font-weight: 400;
      line-height: 27px;    
    }
  }
}
